h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  h2 {
    color: var(--light-alt);
    margin-bottom: 55px;
  }
  
  .task {
    position: relative;
    background-color: var(--primary-color);
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin-bottom: 16px;
    font-weight: bold;
  }
  
  .task:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  
  .task .checkbox{
    width: 20px;
    height: 20px;
    margin-right: 16px;
    border-radius: 999px;
    background-color: var(--dark-alt);
    transition: 0.4s;
  }

  .task.complete {
    text-decoration: line-through;
  }

  .task.complete .checkbox{
    background-color: var(--light-alt);
    background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
  }
  
  .task .delete-task{
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    color: var(--primary-color);
    border-radius: 50%;
    border: none;
    font-size: larger;
    font-weight: bolder;
  }
  
  .addPopup{
    position: fixed;
    bottom: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 64px;
    height: 64px;
    border-radius: 999px;
    font-size: 28px;
    font-weight: 900;
    color: var(--light);
    background: var(--primary-color);
    cursor: pointer;
  }

  .popup{
    padding: 10px;
    background-color: var(--light);
    color: var(--dark-alt);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .closePopup{
    align-self: flex-end;
  }

  .add-button{
    margin-top: 10px;
    min-width: 300px;
    border: none;
    background-color: var(--primary-color);
    padding: 5px;
    color: var(--light);
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  .add-Task-input{
    border: #efefef;
    min-width: 300px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 15px;
  }

