:root {
  --primary-color: #EE6C4D;
  --secondary-color: #8A4EFC;
  --light: #effbfc;
  --light-alt: #f1c75f;
  --dark: #3D5A80;
  --dark-alt: #293241;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: var(--dark-alt);
  color: var(--light);
}

.App {
  padding: 32px;
}
